$red: #d45555;
$black: #19191b;
$light-gray: #f6f6f6;
$gray: #a9a9a9;

.inputbox {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}
.main {
    margin-left: 100px;
}
.input {
    background: $light-gray;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
}
.publish {
    border: none;
    outline: none;
    background: $red;
    color: white;
    padding: 10px 20px;
    border-radius: 200px;
    cursor: pointer;
    width: fit-content;
}
.bookbuttons {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}